@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&family=Cormorant+Upright:wght@300;400;500;600;700&family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Itim&family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&family=Cormorant+Upright:wght@300;400;500;600;700&family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Itim&family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300;400;500;600;700&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  background-color: hsla(274, 69%, 10%, 1);
  overflow-x: hidden;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  padding: 10px 0px 0px 90px;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  position: relative;
  /* left: -100px; */
  gap: 10px;
}

li {
  color: #fdfbfb;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  list-style: none;
  cursor: pointer;
  /* display: flex; */
}

.li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  position: relative;
  left: 40px;
}

.li button {
  padding: 10px 27px;
  border-radius: 10px;
  background: #1b39a6;
  border: none;
  color: white;
  cursor: pointer;
}

.c1 {
  max-width: 1200px;
  margin: 0 auto;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.left {
  display: flex;
  flex-direction: column;
  width: 525px;
  padding-left: 50px;
  margin-top: -30px;
}

.left h1 {
  color: #fff;
  font-family: Space Grotesk;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}

.left p {
  color: #fff;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 134.3%; /* 21.488px */
  text-transform: capitalize;
  margin-top: -24px;
}

.right {
  background: #1b39a6;
  display: flex;
  align-items: center;
  position: relative;
  top: 50px;
  overflow: hidden;
}

.right img {
  /* Set the initial size of the image */
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease; /* Add a smooth transition effect */
}

.right img:hover {
  transform: scale(1.1);
}

.under {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding-left: 50px;
  margin-top: -130px;
}

.under1 {
  display: flex;
  justify-content: space-between;
}

.under button {
  display: flex;
  width: 206px;
  height: 60px;
  padding: 11px 15px;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: var(--button-colour, #1b39a6);
  border: none;
  color: #fff;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 134.3%; /* 21.488px */
  text-transform: capitalize;
}

.one p {
  color: #fff;
  font-family: Space Grotesk;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.one h3 {
  color: #fff;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

.section1 {
  padding-left: 60px;
  padding-right: 40px;
  position: relative;
  top: 100px;
}

.section11 {
  display: flex;
  flex-direction: column;
}

.topp h1 {
  /* text-align: center; */
  color: #fff;
  font-family: Space Grotesk;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 134.3%; /* 42.976px */
  text-transform: capitalize;
}

.topp h2 {
  color: #fff;
  font-family: Work Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 134.3%; /* 18.802px */
  text-transform: capitalize;
  margin-top: -20px;
}
.topunder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.topu1 {
  display: flex;
  align-items: center;
  margin-top: -10px;

  /* align-items: flex-start; */
  gap: 30px;
}

.topu1 h3 {
  border-radius: 10px;
  background: #1b39a6;
  color: #fff;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 134.3%; /* 21.488px */
  text-transform: capitalize;
  padding: 10px;
}

.topu1 h5 {
  border-radius: 10px;
  border: 1px solid var(--white, #fff);
  color: #fff;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 134.3%; /* 21.488px */
  text-transform: capitalize;
  padding: 5px;
  /* margin-top: 0.3px; */
  /* padding-top: -7px; */
}

.topu1 h6 {
  color: #fff;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 134.3%; /* 21.488px */
  text-transform: capitalize;
  border-radius: 10px;
  border: 1px solid var(--white, #fff);
  padding: 10px;
}
.topu2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.topu2 h2 {
  color: var(--main, #4e4bde);
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 134.3%; /* 21.488px */
  text-transform: capitalize;
  border-radius: 10px;
  background: #1f294b;
  padding: 10px;
}

.topu2 h3 {
  color: #fff;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 134.3%; /* 21.488px */
  text-transform: capitalize;
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

.topu2 h5 {
  color: #fff;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 134.3%; /* 21.488px */
  text-transform: capitalize;
  display: flex;
  padding: 10px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid var(--white, #fff);
  cursor: pointer;
}

.cardsection {
  width: 100%;
  height: 110vh;
}

.cards {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  gap: 10px;
}

.card1 {
  width: 219px;
  height: 320px;
  border-radius: 10px 10px 8px 8px;
  background: #2b386d;
  overflow: hidden;
}

.card1 img {
  transition: transform 0.3s ease;
}

.card1 img:hover {
  transform: scale(1.1);
}

.card1 h2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  color: #fff;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 134.3%; /* 21.488px */
  text-transform: capitalize;
  margin-top: -10px;
}

h2 span {
  color: #bababa;
  font-family: Work Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 134.3%; /* 16.116px */
  text-transform: capitalize;
  background: #353535;
  pad: 10px;
}

.card1 h3 {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #fff;
  font-family: Work Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 134.3%; /* 16.116px */
  text-transform: capitalize;
  padding: 20px;
  margin-top: -50px;
}

.card1 h4 {
  display: flex;
  align-items: flex-start;
  padding: 20px;
  /* gap: 41px; */
  margin-top: -40px;
  color: #fff;
  font-family: Work Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 134.3%; /* 16.116px */
  text-transform: capitalize;
}

h4 svg {
  display: flex;
  align-items: center;
  margin-left: 120px;
}
.section2 {
  position: relative;
  top: 120px;
}

.top22 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 39px;
  width: 100%;
}

.top22 h2 {
  color: #fff;
  font-family: Space Grotesk;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 134.3%; /* 42.976px */
  text-transform: capitalize;
}

.top22 p {
  color: #ffffffaf;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 134.3%; /* 21.488px */
  text-transform: capitalize;
  margin-top: -20px;
}

.top22 button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--white, #fff);
  background: none;
  color: #fff;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 134.3%; /* 21.488px */
  text-transform: capitalize;
}

.cardunder {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  padding-left: 40px;
  /* gap: px; */
  padding-top: 20px;
  width: 100%;
}

.imgunder {
  display: flex;
  justify-content: space-between;
  width: 42%;
  gap: 20px;
  padding-top: 10px;
}

.textu h1 {
  color: #fff;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 134.3%; /* 24.174px */
  text-transform: capitalize;
}

.textu h3 {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  /* gap: 10px; */
  color: #ffffffa0;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 134.3%; /* 21.488px */
  text-transform: capitalize;
  margin-top: -10px;
}

.cardunder img {
  width: 90%;
}

.imgunder img {
  width: 100%;
}

.textu img {
  width: 50%;
}

.section3 {
  position: relative;
  top: 200px;
  padding-left: 45px;
  height: 90vh;
}

.top3 h1 {
  color: #fff;
  font-family: Space Grotesk;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 134.3%; /* 42.976px */
  text-transform: capitalize;
}

.top3 p {
  color: #fff;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 134.3%; /* 21.488px */
  text-transform: capitalize;
  margin-top: -20px;
}

.card33 {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  gap: 30px;
  padding-right: 40px;
  padding-top: 40px;
  /* place-items: center; */
}

.card99 {
  display: flex;
  align-items: center;
  /* width: 400px; */
  height: 116.488px;
  flex-shrink: 0;
  border-radius: 7.281px;
  background: #2b386d;
  padding-left: 20px;

  /* justify-content: center; */
}

.car p {
  color: var(--white, #fff);
  font-family: Work Sans;
  font-size: 20.801px;
  font-style: normal;
  font-weight: 600;
  line-height: 134.3%; /* 27.936px */
  text-transform: capitalize;
  /* top: -10px; */
  left: 20px;
  position: absolute;
}

.car {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.car h6 {
  gap: 10px;
  display: flex;
  align-items: center;
  color: #fff;
  font-family: Work Sans;
  font-size: 16.179px;
  font-style: normal;
  font-weight: 400;
  line-height: 134.3%; /* 21.728px */
  text-transform: capitalize;
  position: relative;
  left: 20px;
  top: 20px;
}

.card99 h3 {
  position: relative;
  /* left: ; */
  top: -33px;
  left: 70px;

  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 134.3%; /* 21.488px */
  text-transform: capitalize;
}

.red {
  color: red;
}

.green {
  color: #28fc3a;
}

.section4 {
  position: relative;
  top: 240px;
  padding-left: 40px;
  background-color: white;
}

.section44 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 60vh;
}

.left44 {
  /* background-color: #28fc3a; */
  /* height: 400px; */
  width: 50%;
  padding: 40px;
  margin-left: 70px;
}

.right44 {
  width: 30%;
  position: relative;
  z-index: 2;
  right: 100px;
  top: 20px;
}

.right44 img {
  width: 100%;
  position: relative;
  /* right: 200px; */
}

.section5 {
  position: relative;
  top: 300px;
  height: auto;
  padding-bottom: 80px;
}

.section55 {
  padding-left: 40px;
}

.top55 h1 {
  color: #fff;
  font-family: Space Grotesk;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 134.3%; /* 42.976px */
  text-transform: capitalize;
}
.top55 p {
  color: #ffffffd7;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 134.3%; /* 21.488px */
  text-transform: capitalize;
  margin-top: -10px;
}

.under55 {
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 10px;
  padding-right: 40px;
  cursor: pointer;
}

.under55 h1 {
  color: #fff;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 134.3%; /* 21.488px */
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.under55 p {
  color: #fff;
  font-family: Work Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 134.3%; /* 18.802px */
  text-transform: capitalize;
}

.un55 {
  border-bottom: 2px solid rgba(118, 108, 108, 0.422);
  padding: 0.5em;
  margin: 1em 0;
  height: 3em;
  overflow: hidden;
  transition: 0.3s;
  width: 100%;
}

.un555 {
  overflow: hidden;
}
.un55 i {
  transition: 0.3s;
}

.reverse {
  height: 12em;
}

.burger{
  display: none;
}

.times {
  transform: rotate(45deg);
}

footer {
  position: relative;
  top: 300px;
  padding-left: 40px;
  padding-right: 40px;
  background: black;
  height: 40vh;
  padding-top: 30px;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 30px;
}

.left-footer h1 {
  color: #1e19e4;
  font-family: Space Grotesk;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.7px;
}

.left-footer span {
  color: #ffffff;
  font-family: Space Grotesk;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.7px;
}

.left-footer h3 {
  color: #fff;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 134.3%; /* 21.488px */
  text-transform: capitalize;
  width: 80%;
}
.center {
  width: 30%;
  position: relative;
  top: 20px;
}

.center h1,
.right-footer h1 {
  color: #fff;
  font-family: Work Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 134.3%; /* 32.232px */
  text-transform: capitalize;
}

.center h3,
.right-footer h3 {
  color: #fff;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 134.3%; /* 21.488px */
  text-transform: capitalize;
}

.right-footer input {
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 8px;
  background: #fff;
}

.right-footer button {
  padding: 10px 20px;
  background-color: #1e19e4;
  border: none;
  color: white;
  position: relative;
  right: 50px;
  border-radius: 0 0 8px;
}


@media screen and (max-width: 500px) {
  header {
    padding-left: 22px;
    /* margin-top: -20px; */
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
  }
 

  .burger {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 5px;
    z-index: 999;
    cursor: pointer;
    padding-right: 30px;
    
}

.line1,
.line2,
.line3 {
    width: 30px;
    height: 2px;
    background: white;
    transition: .3s;
    border-radius: 1em;
}



  ul {
    /* display: none; */
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right: 0;
    top: 0;
    width: 100%;
    height: 80vh;
    background: rgba(0, 0, 0, 0.853);
    gap: 45px;
    opacity: 0;
    pointer-events: none;
    transition: .3s;
    z-index: 4;

  }

  .no-sroll{
    overflow-y: hidden ;
  }

  .rotate .line1 {
    transform: translateY(7px) rotate(135deg);
    width: 30px;
}

.rotate .line2 {
    transform: translateX(30px);
    opacity: 0;
}

.rotate .line3 {
    transform: translateY(-7px) rotate(-135deg);
    width: 30px;
}

  .burger-dropdown{
    opacity: 1;
    pointer-events: all;
  }

  li{
    font-size: 30px;
    text-align: center;
   
  }

  .li{
    flex-direction: column;
    left: 0;
  }
  .top {
    flex-direction: column;
    padding: 20px 20px;
  }
  .left h1 {
    font-size: 24px;
    /* width: ;
     */
    width: 388px;
    padding-left: 40px;
    margin-top: 50px;
  }

  .left p {
    font-size: 11px;
    width: 80%;
    padding-left: 40px;
    padding-top: 10px;
    /* margin-top: 1px; */
  }

  .under {
    width: 100%;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .right {
    top: 10px;
  }

  .under button {
    width: 100%;
  }
  .section1 {
    width: 100%;
    padding-left: 20px;
    top: 60px;
  }
  .topp h1 {
    font-size: 20px;
  }
  .topp h2 {
    font-size: 10px;
    padding-top: 10px;
  }
  .topu2 {
    display: none;
  }
  /* .topu2{
  position: relative;
  right: 300px;
} */

  .section2 {
    top: -70px;
  }
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none;
    /* overflow-x: scroll; */
    /* overflow-y: hidden; */
    animation: scroll-tray 18s linear infinite;
  }
  @keyframes scroll-tray {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-800px);
    }
  }

  .top22 {
    padding-left: 20px;
  }

  .top22 h2 {
    font-size: 20px;
  }

  .top p {
    font-size: 10px;
  }

  .top22 button {
    display: none;
  }

  .section3 {
    /* top: -20px; */
    padding-top: 30px;
    padding-left: 0;
    top: -70px;
  }

  .top3 {
    padding-left: 20px;
  }

  .card33 {
    grid-template-columns: 1fr 1fr 1fr;
    /* padding-right: 20px; */
    /* padding-left: 20px; */
    margin-left: 10px;
    gap: 50px;
    width: 100%;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none;
    /* overflow-x: scroll; */
    /* overflow-y: hidden; */
    animation: scroll-tray 18s linear infinite;
  }
  @keyframes scroll-tray {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-500px);
    }
  }

  .car p {
    font-size: 18px;
  }
  .car h6 {
    font-size: 12px;
  }

  .card99 {
    width: 110%;
  }

  .card99 h3 {
    font-size: 12px;
    margin-right: 70px;
  }
  .section4 {
    top: -40px;
  }

  .section5 {
    padding-bottom: 3%;
    top: -20px;
  }
  .section55 {
    padding-left: 0;
  }
  .under55 h1 {
    font-size: 12px;
  }
  .top55 {
    padding-left: 20px;
  }

  .top55 p {
    font-size: 10px;
  }
  .top55 h1 {
    font-size: 20px;
  }

  .un55 {
    width: 80%;
    padding-left: 20px;
    padding-right: 50px;
  }
  .under55 p {
    font-size: 10px;
  }

  footer {
    height: auto;
    top: -0px;
  }
  .footer {
    flex-direction: column;
    align-items: start;
    /* height: 140vh; */
    padding-bottom: 50px;
    /* padding-top: 100px; */
  }

  .inp {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 20px;
    /* right: 40px; */
    /* width: 100%; */
    
    /* flex-direction: column; */
    /* align-items: center; */
    /* margin-right: 900px; */
  }

  .inp input {
    /* padding: 15px 30px; */
    display: flex;
    /* width: 387px; */
    padding: 12px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* right: 70px; */
  }

  .inp button{
    position: relative;
    left: 0;
    border-radius: 8px;
  }
  .left44 {
    /* background-color: #28fc3a; */
    /* height: 400px; */
    width: 50%;
    padding: 0px;
    margin-left: 0;
  }

   .left44 svg{
    width: 100%;
  }

  .left44{
    width: 100%;
    left: 0;
  } 

  .section44{
    height: 30vh;
  }

  .right44{
    width: 50%;
    right: 50px;
    /* left: 30px; */
   
  }
}
